Repository jgeofil/mlreadme-astro-blog, changes with the labels that .github/labeler.yml gives for each.
All labels: Components, Content, Markdown

.github/labeler.yml:

Components:
  - changed-files:
    - any-glob-to-any-file: src/components/**
Content:
  - changed-files:
    - any-glob-to-any-file: [src/data/**, src/content/*]
Markdown:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
Release:
  - base-branch: 'main'

feat: Integrate Mixpanel for user analytics
  example.env
  package-lock.json
  package.json
  src/components/BaseHead.astro
  src/components/PostCard.astro
  src/layouts/General.astro
  src/pages/index.astro
  tailwind.config.mjs
Labels: Components

feat: Integrate Mixpanel for user analytics
  .env.local
  example.env
  package-lock.json
  package.json
  src/components/BaseHead.astro
  src/components/PostCard.astro
  src/layouts/General.astro
  src/pages/index.astro
  tailwind.config.mjs
Labels: Components

feat: Revamp website footer and add tag styling
  README.md
  package-lock.json
  package.json
  src/components/Footer.astro
  src/components/PostCard.astro
  src/components/base/Tag.astro
  src/content/config.ts
  src/data/tags.toml
  src/postcss.config.mjs
  src/styles/custom-base-styles.css
  src/styles/custom-components.css
  src/styles/custom-utilities.css
  tailwind.config.mjs
Labels: Components, Content, Markdown

feat: Revamp website footer and add tag styling
  README.md
  package-lock.json
  package.json
  src/components/Footer.astro
  src/components/PostCard.astro
  src/components/base/Tag.astro
  src/content/config.ts
  src/data/tags.toml
  src/postcss.config.mjs
  src/styles/custom-base-styles.css
  src/styles/custom-components.css
  src/styles/custom-utilities.css
  tailwind.config.mjs
Labels: Components, Content, Markdown

Refactor: Revamp tag styling and layout components
  .vercel/README.txt
  .vercel/project.json
  astro.config.mjs
  src/components/PostMetadata.astro
  src/components/base/HLine.astro
  src/components/base/Tag.astro
  src/content/config.ts
  src/layouts/Default.astro
  src/pages/about.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/privacy.astro
  src/pages/tags/[id].astro
  src/pages/tags/index.astro
  src/styles/tag.css
  tailwind.config.mjs
Labels: Components, Content

Refactor: Revamp tag styling and layout components
  .vercel/README.txt
  .vercel/project.json
  astro.config.mjs
  src/components/PostMetadata.astro
  src/components/base/HLine.astro
  src/components/base/Tag.astro
  src/content/config.ts
  src/layouts/Default.astro
  src/pages/about.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/privacy.astro
  src/pages/tags/[id].astro
  src/pages/tags/index.astro
  src/styles/tag.css
  tailwind.config.mjs
Labels: Components, Content

feat: Introduce Avatar component
  src/components/base/Avatar.astro
  src/pages/index.astro
Labels: Components

feat: Introduce Avatar component
  src/components/base/Avatar.astro
  src/pages/index.astro
Labels: Components

feat: Add SEO metadata to blog index
  src/pages/blog/index.astro
Labels: none

feat: Add SEO metadata to blog index
  src/pages/blog/index.astro
Labels: none

feat: Configure Prettier for consistent code style
  .prettierignore
  .prettierrc
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  src/components/BaseHead.astro
  src/components/Bookmark.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/PostCard.astro
  src/components/PostMetadata.astro
  src/components/base/Avatar.astro
  src/components/base/FormattedDate.astro
  src/components/base/HLine.astro
  src/components/base/HeroImage.astro
  src/components/base/Tag.astro
  src/consts.ts
  src/content/config.ts
  src/data/blog/byte-pair-encoding-bpe.mdx
  src/data/blog/generative-transformer-decoder-tensorflow.mdx
  src/layouts/General.astro
  src/pages/about.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/cookies.astro
  src/pages/index.astro
  src/pages/privacy.astro
  src/pages/robots.txt.ts
  src/pages/rss.xml.js
  src/pages/tags/[id].astro
  src/pages/tags/index.astro
  src/postcss.config.mjs
  src/styles/custom-base-styles.css
  src/styles/custom-components.css
  src/styles/custom-utilities.css
  src/styles/global.css
  tailwind.config.mjs
  tsconfig.json
Labels: Components, Content, Markdown

feat: Configure Prettier for consistent code style
  .prettierignore
  .prettierrc
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  src/components/BaseHead.astro
  src/components/Bookmark.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/PostCard.astro
  src/components/PostMetadata.astro
  src/components/base/Avatar.astro
  src/components/base/FormattedDate.astro
  src/components/base/HLine.astro
  src/components/base/HeroImage.astro
  src/components/base/Tag.astro
  src/consts.ts
  src/content/config.ts
  src/data/blog/byte-pair-encoding-bpe.mdx
  src/data/blog/generative-transformer-decoder-tensorflow.mdx
  src/layouts/General.astro
  src/pages/about.astro
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/cookies.astro
  src/pages/index.astro
  src/pages/privacy.astro
  src/pages/robots.txt.ts
  src/pages/rss.xml.js
  src/pages/tags/[id].astro
  src/pages/tags/index.astro
  src/postcss.config.mjs
  src/styles/custom-base-styles.css
  src/styles/custom-components.css
  src/styles/custom-utilities.css
  src/styles/global.css
  tailwind.config.mjs
  tsconfig.json
Labels: Components, Content, Markdown

prettier linter command
  package.json
Labels: none

prettier linter command
  package.json
Labels: none

finish footer
  .idx/dev.nix
  astro.config.mjs
  src/components/Footer.astro
  src/components/base/Icon.astro
  src/layouts/General.astro
  src/pages/index.astro
  src/styles/global.css
  tailwind.config.js
Labels: Components

finish footer
  .idx/dev.nix
  astro.config.mjs
  src/components/Footer.astro
  src/components/base/Icon.astro
  src/layouts/General.astro
  src/pages/index.astro
  src/styles/global.css
  tailwind.config.js
Labels: Components

feat: Introduce blog sections
  astro.config.mjs
  package-lock.json
  package.json
  src/components/Header.astro
  src/components/base/Section.astro
  src/components/base/Tag.astro
  src/content/config.ts
  src/data/meta/sections.toml
  src/data/meta/tags.toml
  src/layouts/General.astro
  src/pages/sections/[id].astro
  src/pages/sections/index.astro
Labels: Components, Content

feat: Introduce blog sections
  astro.config.mjs
  package-lock.json
  package.json
  src/components/Header.astro
  src/components/base/Section.astro
  src/components/base/Tag.astro
  src/content/config.ts
  src/data/meta/sections.toml
  src/data/meta/tags.toml
  src/layouts/General.astro
  src/pages/sections/[id].astro
  src/pages/sections/index.astro
Labels: Components, Content

feat: Introduce blog post sections
  src/components/Header.astro
  src/components/PostMetadata.astro
  src/components/base/Section.astro
  src/components/base/Tag.astro
  src/content/config.ts
  src/data/blog/byte-pair-encoding-bpe.mdx
  src/data/blog/generative-transformer-decoder-tensorflow.mdx
  src/data/meta/sections.toml
  src/pages/blog/[slug].astro
  src/pages/sections/index.astro
  src/pages/tags/index.astro
  tsconfig.json
Labels: Components, Content

feat: Introduce blog post sections
  src/components/Header.astro
  src/components/PostMetadata.astro
  src/components/base/Section.astro
  src/components/base/Tag.astro
  src/content/config.ts
  src/data/blog/byte-pair-encoding-bpe.mdx
  src/data/blog/generative-transformer-decoder-tensorflow.mdx
  src/data/meta/sections.toml
  src/pages/blog/[slug].astro
  src/pages/sections/index.astro
  src/pages/tags/index.astro
  tsconfig.json
Labels: Components, Content

Create todo.yml
  .github/workflows/todo.yml
Labels: none

Create todo.yml
  .github/workflows/todo.yml
Labels: none

Create codeql.yml
  .github/workflows/codeql.yml
Labels: none
